<div class="d-flex align-items-center justify-content-center pricing-header">
    <h1 style="font-weight: bold;">Pricing</h1>
    <h5 class="pricing-tagline" style="text-align: center;">Now you can smartly book your appointments hassle free.
        Reshedule without any
        tension.</h5>
</div>

<div class="d-flex align-items-center justify-content-center pricing-header">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <p style="font-weight: 600;">Best Value</p>
                    <h1>Free</h1>
                    <button>Select Plan</button>
                    <ul class="list">
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <p style="font-weight: 600;">Best Value</p>
                    <h1>$8</h1>
                    <button class="button">Select Plan</button>
                    <ul class="list">
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <p style="font-weight: 600;">Best Value</p>
                    <h1>$12</h1>
                    <button class="button">Select Plan</button>
                    <ul class="list">
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                        <li class="li-item">Now you can smartly book your
                            appointments hassle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center pricing-header">
        <h1 style="font-weight: bold;">Make it easy to schedule with you</h1>
        <h5 class="pricing-tagline" style="text-align: center;">Now you can smartly book your appointments hassle
            free.
            Reshedule without any
            tension.</h5>
    </div>
    <div class="column-custome">
        <div class="row" style="padding-left: 13px;">
            <div class="col-6 d-flex align-items-center justify-content-center services service-box">
                <div class="rounded-circle">
                    <p style="text-align: center;">Share availability anywhere you can share a
                        link: add Calendly to your website, email
                        campaigns, text messages, social profiles,
                        or web chat</p>
                </div>
            </div>

        </div>
    </div>

</div>